<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isError">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isError">Error.</div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="privateKey">
        <th mat-header-cell *matHeaderCellDef>privateKey</th>
        <td mat-cell *matCellDef="let element">{{ element.privateKey }}</td>
      </ng-container>
      <ng-container matColumnDef="addressUnCompressed">
        <th mat-header-cell *matHeaderCellDef>address</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-button
            color="primary"
            href="https://www.blockchain.com/btc/address/{{ element.addressUnCompressed }}"
            target="_blank"
            >{{ element.addressUnCompressed }}</a
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="addressUnCompressedBalance">
        <th mat-header-cell *matHeaderCellDef>balance</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.addressUnCompressedBalance
              | balance
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="addressUnCompressedReceived">
        <th mat-header-cell *matHeaderCellDef>received</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.addressUnCompressedReceived
              | balance
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="addressCompressed">
        <th mat-header-cell *matHeaderCellDef>address</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-button
            color="primary"
            href="https://www.blockchain.com/btc/address/{{ element.addressCompressed }}"
            target="_blank"
            >{{ element.addressCompressed }}</a
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="addressCompressedBalance">
        <th mat-header-cell *matHeaderCellDef>balance</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.addressCompressedBalance
              | balance
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="addressCompressedReceived">
        <th mat-header-cell *matHeaderCellDef>received</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.addressCompressedReceived
              | balance
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="paginator">
      <button mat-raised-button (click)="onOlder()">← Older</button>
      <div>{{ page }} of {{ maxPage }}</div>
      <button mat-raised-button (click)="onNewer()">Newer →</button>
    </div>
  </div>
</div>
